$theme1_mainbackground: hsl(222, 26%, 31%);
$theme1_toggle_or_keypadbackground: hsl(223, 31%, 20%);
$theme1_screenbackground: hsl(224, 36%, 15%);
$keys1_background: hsl(225, 21%, 49%);
$keys1_shadow: hsl(224, 28%, 35%);
$keys1_background_toggle: hsl(6, 63%, 50%);
$keys1_shadow_red: hsl(6, 70%, 34%);
$keys1_background_grey: hsl(30, 25%, 89%);
$keys1_shadow_gray: hsl(28, 16%, 65%);
$text1_gray: hsl(221, 14%, 31%);
$text1_white:  hsl(0, 0, 100%);


$theme2_mainbackground: hsl(0, 0%, 90%);
$theme2_toggle_or_keypadbackground: hsl(0, 5%, 81%);
$theme2_screenbackground: hsl(0, 0%, 93%);
$keys2_background: hsl(185, 42%, 37%);
$keys2_shadow: hsl(185, 58%, 25%);
$keys2_background_toggle: hsl(25, 98%, 40%);
$keys2_shadow_orange: hsl(25, 99%, 27%);
$keys2_background_yellow: hsl(45, 7%, 89%);
$keys2_shadow_gray: hsl(35, 11%, 61%);
$text2_gray: hsl(60, 10%, 19%);
$text2_white:  hsl(0, 0, 100%);

$theme3_mainbackground: hsl(268, 75%, 9%);
$theme3_toggle_or_keypadbackground_screen: hsl(268, 71%, 12%);
$keys3_background: hsl(281, 89%, 26%);
$keys3_shadow: hsl(285, 91%, 52%);
$keys3_background_toggle: hsl(176, 100%, 44%);
$keys3_shadow_cyan: hsl(177, 92%, 70%);
$keys3_background_violet: hsl(268, 47%, 21%);
$keys3_shadow_magenta: hsl(290, 70%, 36%);
$text3_yellow: hsl(52, 100%, 62%);
$text3_blue:  hsl(198, 20%, 13%);
$text3_white: hsl(0, 0, 100%);
